
/* Baggrunds farve body*/
body {
    background-color: #E7DDC9;
}


/*Baggrund og tekst*/


header {
    background-color: #e5d5b8;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Min navigation*/
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: steelblue;
    font-family: Georgia, serif;
    font-size: 25px;
}

nav a:hover {
    text-decoration: underline;
}


/*Tekst: Filippa Bertram portfolio og My Family*/

h1 {
    color: steelblue;
    font-family: Georgia, serif;
    font-size: 75px;
    text-align: center;
    margin: 0 0 40px 0;
}

/* Overskrifter på emner*/

h2 {
    color: steelblue;
    text-align: center;
    font-size: 40px;
}


/* About me billeder og struktur*/

.pictures {
    display: flex;
    justify-content: space-around;
}

.profile-image,
.profile-image2,
.profile-image3 {
    width: 400px;
    height: 600px;
    object-fit: cover;
}

/* Education*/

#education {
    padding: 40px;
}

#education h2 {
    color: steelblue;
    text-align: center;
    font-size: 40px;
}


/* Work experience*/
#work {
    padding: 40px;
}

#work h2 {
    color: steelblue;
    text-align: center;
    font-size: 40px;
}

/* Education og work (Både tekst og kasser */

.work-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #F5EFE2;

    border: 1px solid steelblue;
    border-radius: 15px;

    padding: 20px;
    margin: 30px 0;
}

.work-text {
    width: 50%;
}

.work-text h3 {
    color: steelblue;
    font-size: 30px;
}


.work-text p {
    line-height: 1.6;
}

.work-card img {
    width: 40%;
    height: auto;
    border-radius: 10px;
}


/* De nederste 3 billeder søskende og Family */

.images {
    display: flex;
    justify-content: space-between;
}

.images > div {
    width: 30%;
}

.images > div img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.images p {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    font-family: Georgia, serif;
    color: steelblue;
}

/* kontakt mig og footer*/

footer {
    background-color: #e5d5b8;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Linkedin reference*/

